%minus {
    width: 11px; height: 2px;
    background: url('../img/sprite.png') -96px -38px;
}

%plus {
    width: 11px; height: 11px;
    background: url('../img/sprite.png') -43px -54px;
}

%arrows {
    width: 13px; height: 13px;
    background: url('../img/sprite.png') -10px -54px;
}

%arrow_down {
    width: 14px; height: 8px;
    background: url('../img/sprite.png') -96px -10px;
}

%new {
    width: 66px; height: 24px;
    background: url('../img/sprite.png') -10px -10px;
}
