$p-black: #000000;
$p-grey: #AEAEAE;
$p-grey-light: #f8f8f8;
$p-grey-dark: #8D8D8D;
$p-grey-secondary: #C4C4C4;
$p-brand: #DF4E3C;
$p-success: #507A36;
$p-error: #FF2307;

$p-border-radius: 15px;

$p-font-primary: 'Noto Sans';
$p-font-secondary: 'Poppins';